import 'package:flutter/material.dart';

import 'package:{{projectName}}/frontend/screens/home_screen/home_screen.dart';

import 'package:{{projectName}}/models/drawer_item.dart';

const PageNames = const [
  DrawerItem(
    title: HomeScreen.title,
    icon: Icons.home,
    routeName: HomeScreen.routeName,
    index: 0,
  ),
];
