import 'package:flutter/material.dart';

import 'package:{{projectName}}/styles/color_themes.dart';

class ButtonThemes {
  static ButtonThemeData raisedButtonTheme1 = ButtonThemeData(
    buttonColor: ColorThemes.primary,
    textTheme: ButtonTextTheme.accent,
    disabledColor: Color(0xff8c8c8c),
    padding: EdgeInsets.all(10),
    splashColor: ColorThemes.primaryVariant,
  );
}
