import 'package:flutter/material.dart';
export 'package:{{projectName}}/styles/gradient_themes.dart';
export 'package:{{projectName}}/styles/box_shadow_themes.dart';

class ColorThemes {
  //______________________ MATERIAL_COLORS _________________________
  static const Color primary = const Color(0xFF06B0F2);
  static const Color primaryVariant = const Color(0x6F06B0F2);

  static const Color secondary = const Color(0xFF06225A);

  static const Color onPrimary = const Color(0xFF0000000);
  static const Color onSecondary = const Color(0xFFFFFFFF);

  static const Color background = const Color(0xFFE1E2E1);
  static const Color surface = const Color(0xFFFFFFFF);
  static const Color error = const Color(0xFFD70000);

  static const Color onBackground = const Color(0xFF06225A);
  static const Color onSurface = const Color(0xFF06225A);
  static const Color onError = const Color(0xFFFFFFFF);

  //______________________ OTHER_COLORS _________________________
  static const Color gray = const Color(0xFF595959);
  static const Color grayBackground = const Color(0x1407364B);
  static const Color grayBorder = const Color(0x829AAE3);
  static const Color divider = const Color(0xFF424242);
}
