import 'package:{{projectName}}/models/hh_icon_theme.dart';
import 'package:{{projectName}}/styles/color_themes.dart';

class IconThemes {
  static const small = HHIconTheme(
    color: ColorThemes.primary,
    size: HHIconTheme.smallIconSize,
  );

  static const medium = HHIconTheme(
    color: ColorThemes.primary,
    size: HHIconTheme.mediumIconSize,
  );

  static const large = HHIconTheme(
    color: ColorThemes.primary,
    size: HHIconTheme.largeIconSize,
  );

  static const darkSmall = HHIconTheme(
    color: ColorThemes.secondary,
    size: HHIconTheme.smallIconSize,
  );

  static const darkMedium = HHIconTheme(
    color: ColorThemes.secondary,
    size: HHIconTheme.mediumIconSize,
  );

  static const darkLarge = HHIconTheme(
    color: ColorThemes.secondary,
    size: HHIconTheme.largeIconSize,
  );

  static const onPrimarySmall = HHIconTheme(
    color: ColorThemes.onPrimary,
    size: HHIconTheme.smallIconSize,
  );

  static const onPrimaryMedium = HHIconTheme(
    color: ColorThemes.onPrimary,
    size: HHIconTheme.mediumIconSize,
  );

  static const onPrimaryLarge = HHIconTheme(
    color: ColorThemes.onPrimary,
    size: HHIconTheme.largeIconSize,
  );

  static const onSecondarySmall = HHIconTheme(
    color: ColorThemes.onSecondary,
    size: HHIconTheme.smallIconSize,
  );

  static const onSecondaryMedium = HHIconTheme(
    color: ColorThemes.onSecondary,
    size: HHIconTheme.mediumIconSize,
  );

  static const onSecondaryLarge = HHIconTheme(
    color: ColorThemes.onSecondary,
    size: HHIconTheme.largeIconSize,
  );
}
