import 'package:flutter/material.dart';

class HHIconTheme {
  static const double smallIconSize = 20;
  static const double mediumIconSize = 30;
  static const double largeIconSize = 40;

  final double size;
  final Color color;

  const HHIconTheme({
    @required this.size,
    @required this.color,
  });
}
