import 'package:flutter/material.dart';

import 'package:{{projectName}}/styles/color_themes.dart';
import 'package:{{projectName}}/styles/text_themes.dart';

class HHRaisedButton extends StatelessWidget {
  HHRaisedButton({
    this.heightPercent: 0.055,
    this.isCircular,
    @required this.size,
    @required this.color,
    @required this.widthPercent,
    @required this.title,
    @required this.onPressed,
  }) : super();

  final double size;
  final bool isCircular;
  final double heightPercent;
  final Color color;
  final double widthPercent;
  final String title;
  final Function onPressed;

  static const double smallButtonWidth = .25;
  static const double mediumButtonWidth = .5;
  static const double largeButtonWidth = 1;

  @override
  Widget build(BuildContext context) {
    return RaisedButton(
      shape: RoundedRectangleBorder(
        borderRadius: BorderRadius.circular(isCircular ? 30 : 10),
      ),
      color: color,
      onPressed: onPressed,
      child: SizedBox(
        height: MediaQuery.of(context).size.height * heightPercent,
        width: MediaQuery.of(context).size.width * widthPercent,
        child: Center(
          child: Text(
            title,
            textAlign: TextAlign.center,
            style: TextThemes.button.copyWith(
              color: color == ColorThemes.primary ? ColorThemes.onPrimary : ColorThemes.onSecondary,
              fontSize: size,
            ),
          ),
        ),
      ),
    );
  }

  factory HHRaisedButton.small({
    bool isCircular: false,
    @required Function onPressed,
    @required String title,
  }) {
    return HHRaisedButton(
      isCircular: isCircular,
      title: title,
      color: ColorThemes.primary,
      onPressed: onPressed,
      size: TextThemes.buttonSmall,
      widthPercent: HHRaisedButton.smallButtonWidth,
    );
  }

  factory HHRaisedButton.medium({
    bool isCircular: false,
    @required Function onPressed,
    @required String title,
  }) {
    return HHRaisedButton(
      isCircular: isCircular,
      title: title,
      color: ColorThemes.primary,
      onPressed: onPressed,
      size: TextThemes.buttonMedium,
      widthPercent: HHRaisedButton.mediumButtonWidth,
    );
  }

  factory HHRaisedButton.large({
    bool isCircular: false,
    @required Function onPressed,
    @required String title,
  }) {
    return HHRaisedButton(
      isCircular: isCircular,
      title: title,
      color: ColorThemes.primary,
      onPressed: onPressed,
      size: TextThemes.buttonLarge,
      widthPercent: HHRaisedButton.largeButtonWidth,
    );
  }

  factory HHRaisedButton.darkSmall({
    bool isCircular: false,
    @required Function onPressed,
    @required String title,
  }) {
    return HHRaisedButton(
      isCircular: isCircular,
      title: title,
      color: ColorThemes.secondary,
      onPressed: onPressed,
      size: TextThemes.buttonSmall,
      widthPercent: smallButtonWidth,
    );
  }

  factory HHRaisedButton.darkMedium({
    bool isCircular: false,
    @required Function onPressed,
    @required String title,
  }) {
    return HHRaisedButton(
      isCircular: isCircular,
      title: title,
      color: ColorThemes.secondary,
      onPressed: onPressed,
      size: TextThemes.buttonMedium,
      widthPercent: HHRaisedButton.mediumButtonWidth,
    );
  }

  factory HHRaisedButton.darkLarge({
    bool isCircular: false,
    @required Function onPressed,
    @required String title,
  }) {
    return HHRaisedButton(
      isCircular: isCircular,
      title: title,
      color: ColorThemes.secondary,
      onPressed: onPressed,
      size: TextThemes.buttonLarge,
      widthPercent: HHRaisedButton.largeButtonWidth,
    );
  }

  factory HHRaisedButton.colorSmall({
    bool isCircular: false,
    @required Function onPressed,
    @required String title,
    @required Color color,
  }) {
    return HHRaisedButton(
      isCircular: isCircular,
      title: title,
      color: color,
      onPressed: onPressed,
      size: TextThemes.buttonSmall,
      widthPercent: smallButtonWidth,
    );
  }

  factory HHRaisedButton.colorMedium({
    bool isCircular: false,
    @required Function onPressed,
    @required String title,
    @required Color color,
  }) {
    return HHRaisedButton(
      isCircular: isCircular,
      title: title,
      color: color,
      onPressed: onPressed,
      size: TextThemes.buttonMedium,
      widthPercent: HHRaisedButton.mediumButtonWidth,
    );
  }

  factory HHRaisedButton.colorLarge({
    bool isCircular: false,
    @required Function onPressed,
    @required String title,
    @required Color color,
  }) {
    return HHRaisedButton(
      isCircular: isCircular,
      title: title,
      color: color,
      onPressed: onPressed,
      size: TextThemes.buttonLarge,
      widthPercent: HHRaisedButton.largeButtonWidth,
    );
  }
}
